@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
}

body {
    transition: 2s;
    background-image: url(./Images/11447-NNIJL7.jpg);
}


/* Backto top */
#button {
    display: inline-block;
    background-color: #FF9800;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: url(./icons8_up.ico);
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* NavBar Start */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    order: 1;
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.scroll-down header {
    transform: translate3d(0, 0, 0);
    filter: drop-shadow(0 -10px 20px #aaaaaa);
}

.scroll-up header {
    filter: drop-shadow(0 -10px 20px #aaaaaa);
}

.menu-icon {
    border: 2px solid #f39c12;
    color: #f39c12;
    padding: 5px;
}

.scroll-nav__link--active {
    border-bottom-color: #f39c12;
}

.nav-links:after {
    content: "";
    display: table;
    clear: both;
}

.logo-pic {
    width: 50px;
}

.logo-pic-1 {
    width: 50px;
}


.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #f39c12;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: transparent;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 0.2s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}


.overlay a:hover,
.overlay a:focus {
    color: #212121;
    transition: all 0.3s ease 0s;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #f39c12;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}



/* Section-1 Main Page---Home-- */
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url('./Images/College-Photo/college.png') center center / cover no-repeat;
}

.container h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    width: 80%;
}

.container h3 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}


/* Section-2 Main Page --Updates-- */
.updates-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
}

.updates-container h1 {
    margin: 2rem;
    visibility: visible;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #212121;
    cursor: pointer;
    width: 50%;
    height: 8vh;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f39c12;
    border-radius: 10px;
    margin: 0.2rem;
    font-family: 'Lato', sans-serif;
}

.active,
.accordion:hover {
    background-color: #f39c12;
    color: #fff;
}

.panel {
    width: 50%;
    display: none;
    background-color: transparent;
    overflow: hidden;
}

.panel p {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    text-align: center;
}


/* Section-3 Main-Page --gallery-- */

.photogrid-container {
    margin-top: 3rem;
    height: 100%;
}

.swiper {
    width: 80%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,.swiper-button-prev{
    color: #fff;
    background-color: #212121;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section Main-Page ==achivements== */

.ach-text{
    margin-top: 12rem;
}

.trophy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 5rem;
}

.ach-img{
    border: 5px solid #f39c12;
    border-radius: 5px;
}

.ach-img:hover{
    filter: brightness(0.7);
    transition: 0.8s ease-in-out;
}
















/* Section-3 main-page Aboutus */
.main-container-aboutus {
    height: 100%;
}

.aboutus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin-top: 4rem;
}

.abt-us-text {
    text-align: center;
    margin-top: 20rem;
}

.img-principal,
.img-trustee {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl {
    border: 2px solid rgb(175, 175, 175);
    height: 300px;
    /* position: absolute; */
    /* left: 50%; */
    margin-left: 3px;
}

.trustee,
.principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.principal {
    width: 350px;
}

.trustee h2 {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1.3rem;
}

.principal h2 {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    /* width: 71%; */
    margin-top: 1.3rem;
}

.trustee,
.principal p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.trustee p {
    margin-top: 1rem;
}

.principal p {
    margin-top: 1rem;
}

.read-more-btn {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f39c12;
    border-radius: 9px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}


.trustee a {
    text-decoration: none;
}

.principal a {
    text-decoration: none;
}



/* Section-5 Main Page - Course */
.course-section {
    height: 100vh;
}

.main-cotainer-course {
    margin-top: 7rem;
}

.course-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-left: 70px;
    margin-right: 70px;
}

.course-text{
    margin-top: 10rem;
}

.card-1,
.card-2,
.card-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.card-1 {
    border-right: 2px solid rgb(73, 73, 73);
}

.card-2 {
    border-right: 2px solid rgb(73, 73, 73);
}

.card-1 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.card-2 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.card-3 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.card-1 p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.card-2 p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.card-3 p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.card-1 i {
    color: #f39c12;
}

.card-2 i {
    color: #f39c12;
}

.card-3 i {
    color: #f39c12;
}

.card-1:hover {
    background-color: rgba(192, 192, 192, 0.514);
    transition: 1s;
}

.card-2:hover {
    background-color: rgba(192, 192, 192, 0.514);
    transition: 1s;
}

.card-3:hover {
    background-color: rgba(192, 192, 192, 0.514);
    transition: 1s;
}

.know-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-course {
    margin-top: 5rem;
    width: 8rem;
    height: 3rem;
    border: none;
    background-color: #f39c12;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
}

/* Section-6 Main Page Contact-Us*/
.contactus-section {
    height: 70vh;
    /* background-color: #212121; */
    color: #212121;
    margin: 0;
    padding: 0;
}

.container-contactus {
    margin-top: 2rem;
}

.heading p {
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.flex-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}

.address,
.mobile_no,
.email_id {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

.address i {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: #f39c12;
    border-radius: 50px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_no i {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: #f39c12;
    border-radius: 50px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email_id i {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: #f39c12;
    border-radius: 50px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_no p {
    font-family: 'Lato', sans-serif;
}

.address p {
    font-family: 'Lato', sans-serif;
    width: 15rem;
}

.email-para {
    font-family: 'Lato', sans-serif;
    color: #212121;
}

/* Footer */
.footer {
    background-color: #212121;
    height: 50vh;
}

.copyrights {
    background-color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    height: 5vh;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    width: 7rem;
    background-color: white;
}

.footer_images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}

.footer_align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.text_with_link {
    margin: 5rem;
}

.quick_links h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #f39c12;
    font-size: 3rem;
}

.quick_links ul li {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.quick_links ul li a {
    text-decoration: none;
    color: #ddd;
    font-family: 'Lato', sans-serif;
}

.google_map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vw;
}

.map {
    margin-bottom: 3rem;
}














/* ScrollBar */
body::-webkit-scrollbar {
    width: 0rem;
}


/* MediaFrames */
@media only screen and (max-width:1000px) {
    .photogrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .photo-grid-img:hover {
        transform: scale(1.8);
        transition: 1s;
    }

    .logo-pic {
        margin-left: 1rem;
    }

    .menu {
        color: #212121;
        display: contents;
    }

    .nav-links {
        display: none;
    }

    .container h1 {
        text-align: center;
    }

    .aboutus-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4rem;
    }

    .course-section {
        height: 100%;
    }

    .photogrid-container {
        height: 100%;
    }

    .copyrights {
        height: 100%;
    }

    .footer {
        height: 100%;
    }

    .flex-contact {
        display: flex;
        flex-direction: column;
    }

    .footer_align {
        display: flex;
        flex-direction: column;
    }

    .contactus-section {
        height: 100%;
    }

    .footer_images {
        margin-top: 3rem;
    }

    main {
        height: 100%;
    }

    footer {
        height: 100%;
    }

    .google_map {
        width: 100%;
        height: 35vh;
    }

    .map {
        margin-bottom: 3rem;
    }

    .trophy{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-top: 2rem;
    }

    .honor-img{
        width: 50%;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .img-trustee,.img-principal{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }

    .container h3 {
        font-size: 1.5rem;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .photo-grid-img:hover {
        transform: scale(1.6);
        transition: 1s;
    }

    .course-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .card-1 {
        border-bottom: 2px solid rgb(73, 73, 73);
        border-right: none;
    }

    .card-2 {
        border-bottom: 2px solid rgb(73, 73, 73);
        border-right: none;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 75%;
        height: 35vh;
    }

    .copyrights {
        height: 100%;
    }

    .footer {
        height: 100%;
    }

    .flex-contact {
        display: flex;
        flex-direction: column;
    }

    .footer_align {
        display: flex;
        flex-direction: column;
    }

    .contactus-section {
        height: 100%;
    }

    .honor-img{
        width: 50%;
    }

    .mo-logo{
        width: 70%;
    }
}