
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lato:ital@1&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url(./MicrosoftTeams-image\ \(1\).png);
    background-position: center;
}
.container{
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}
h1{
    margin:20px;
    color: rgb(90, 27, 90);
    font-size: 2rem;
    letter-spacing: 8px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    color: rgb(27, 43, 87);
    font-size: large;
    font-weight: 500;
    

}
.chairman-img{
    width: 400px;
    height: 450px;
    border-style: solid;
    border-width: 6px;
    border-color: black;
}
h2{
    text-align: right;
    font-size: large;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: black;
}
h3{
    text-align: right;
    font-size: large;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}